<!DOCTYPE html>
<html ng-app="excido">
<head>
    @Styles.Render("~/bundles/app-styles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/app")
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <meta name="description" content="Excido Shared Content Units" />
</head>
<body ng-controller="shared-units as sharedunits">

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="unit in sharedunits.units">
            <h3>
                {{unit.Name}}
                <em class="pull-right">{{unit.Content}}</em>
            </h3>
        </li>
    </ul>
    <button class="btn btn-default" ng-click="sharedunits.addClick()"><i class="fa fa-plus"></i>Add</button>
</body>
</html>
